.wrapper {
  width: 100%;
  max-width: 620px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 46px;
  box-sizing: border-box;
}

.logoIcon {
  color: var(--white);
  background: linear-gradient(180deg, var(--gradient-2));
  font-size: 46px;
  border-radius: 5px;
}
